# Python - Archivos temporales
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Datos y Pesados (No queremos subir gigas a GitHub)
data/*.csv
data/*.npy
data/*.ipynb_checkpoints
*.npy
results/

# Base de Datos (Milvus local)
gpuhub-tmp/
*.db

# Configuración de editores
.vscode/
.idea/